<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="{{ if .Params.author }}{{ .Params.author }}{{ else }}{{ range .Site.Author }}{{ . }} {{ end }}{{ end }}">
<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.homeSubtitle }}{{ else }}{{ .Summary | plainify }}{{ end }}" />
<meta name="keywords" content="{{ .Site.Params.keywords }}{{ if .Params.tags }}{{ range .Params.tags }}, {{ . }}{{ end }}{{ end }}" />
<meta name="robots" content="noodp" />
<meta name="theme-color" content="{{ .Site.Params.themeColor }}" />
<link rel="canonical" href="{{ .Permalink }}" />

{{ block "title" . }}
    <title>
        {{ if .IsHome }}
            {{ $.Site.Title }} {{ with $.Site.Params.Subtitle }} — {{ . }} {{ end }}
        {{ else }}
            {{ .Title }} :: {{ $.Site.Title }} {{ with $.Site.Params.Subtitle }} — {{ . }}{{ end }}
        {{ end }}
    </title>
{{ end }}

<!-- CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.1/css/flag-icon.min.css" rel="stylesheet"
    type="text/css">

{{ $options := (dict "targetPath" "main.css" "outputStyle" "compressed" "enableSourceMap" true) }}
{{ $style := resources.Get "scss/main.scss" | resources.ToCSS $options | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">

{{ range $val := $.Site.Params.customCSS }}
    {{ if gt (len $val) 0 }}
        <link rel="stylesheet" type="text/css" href="{{ $val }}">
    {{ end }}
{{ end }}

<!-- Icons -->
 <link rel="shortcut icon" href="/favicon.ico?v=kPP08pKEXB">
  <link rel="icon" type="image/png" href="/favicon-32x32.png?v=kPP08pKEXB" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-96x96.png?v=kPP08pKEXB" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicon-194x194.png?v=kPP08pKEXB" sizes="194x194">
  <!-- Icons: Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" type="image/png" href="/android-chrome-192x192.png?v=kPP08pKEXB" sizes="192x192">
  <!-- Icons: Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="RCC Rick Cogley Central">
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png?v=kPP08pKEXB">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png?v=kPP08pKEXB">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png?v=kPP08pKEXB">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png?v=kPP08pKEXB">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png?v=kPP08pKEXB">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png?v=kPP08pKEXB">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png?v=kPP08pKEXB">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png?v=kPP08pKEXB">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png?v=kPP08pKEXB">
  <!-- Icons: Tile icon for Win8 (144x144 + tile color) -->
  <link rel="icon" type="image/png" href="/favicon-16x16.png?v=kPP08pKEXB" sizes="16x16">
  <link rel="manifest" href="/manifest.json?v=kPP08pKEXB">
  <link rel="mask-icon" href="/safari-pinned-tab.svg?v=kPP08pKEXB" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png?v=kPP08pKEXB">
  <meta name="theme-color" content="#93278f">

<!-- RSS -->
{{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

<!-- JSON Feed -->
{{ if .OutputFormats.Get "json" }}
<link href="{{ if .OutputFormats.Get "json" }}{{ .Site.BaseURL }}feed.json{{ end }}" rel="alternate"
    type="application/json" title="{{ .Site.Title }}" />
{{ end }}

<!-- Custom head tags -->
{{- if templates.Exists "partials/extra-head.html" -}}
    {{ partial "extra-head.html" . }}
{{- end }}
